# انسخ هذا الملف باسم .env وعبّي القيم الحقيقية
# (لو تستضيف على Railway، أغلب هذي القيم بتوفرها لك تلقائيًا لما تضيف MySQL)

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=

# رابط الويب هوك اللي تسويه من إعدادات القناة بالديسكورد
DISCORD_WEBHOOK_URL=

PORT=3000
